# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# pycache files
*.pyc
*.sav
/venv/

# generator stuff
__pycache__/*
*.csv
*generated

/build/*
/base/*
/narc/*
/tmp/*
*.nds
*.xmap

*.DS_Store

# ghidra stuff
/*.gpr
/*.lock
/*.lock~
/*.rep/
/*.i64

/offsets.ini
/buildsys/rom_gen.ld

/armips/asm/offset.s
/tools/genleveldatatxt
/tools/gengfxnarc.exe
/tools/genbabymondata
/tools/gendexsortlists
/tools/btx0topng
/tools/gentutormovedata
/tools/gengfxicons.exe
/tools/genevodatatxt
/tools/armips
/tools/genmonareadexdata
/tools/geneggmovedata
/tools/gengfxdata.exe
/tools/genheightdata
/tools/genmondatatxt
/tools/geniconnarc.exe
/tools/ncgrtopng.exe
/tools/nitrogfx
/tools/pngtobtx0.exe
/tools/pngtoncgr.exe
/tools/replacehexwithdec
/tools/sortmonareadexdata
/tools/msgenc
/tools/genleveldatatxt.exe
/tools/genbabymondata.exe
/tools/gendexsortlists.exe
/tools/btx0topng.exe
/tools/gentutormovedata.exe
/tools/genevodatatxt.exe
/tools/armips.exe
/tools/genmonareadexdata.exe
/tools/geneggmovedata.exe
/tools/genheightdata.exe
/tools/genmondatatxt.exe
/tools/nitrogfx.exe
/tools/replacehexwithdec.exe
/tools/sortmonareadexdata.exe
/tools/msgenc.exe
/tools/ndstool
/tools/ndstool.exe
/tools/csv2bin
/tools/o2narc

/tools/swav2swar.exe
